[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-api-python-client = "*"
httplib2 = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
major-release = "python version_bump.py --bump major"
minor-release = "python version_bump.py --bump minor"
patch-release = "python version_bump.py --bump patch"
build = "python setup.py sdist bdist_wheel"
deploy = "twine upload dist/*"
