[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"
twine = "==3.8.0"
mypy = "*"
types-requests = "*"
types-tzlocal = "*"
boto3-stubs = "*"
lxml-stubs = "*"
types-setuptools = "*"

[packages]
google-auth-oauthlib = ">=0.4.6"
requests = ">=2.26.0"
spidev = { version = "*", sys_platform = "== 'linux'" }
"rpi.gpio" = { version = "*", sys_platform = "== 'linux'" }
"jetson.gpio" = { version = "*", sys_platform = "== 'linux'" }
spotipy = ">=2.19.0"
pyjwt = "~=2.1.0"
flask = ">=2.0.2"
pytz = ">=2022.1"
tzlocal = "*"
lxml = "==4.8.0"
botocore = "*"

[requires]
python_version = "3.9"

[scripts]
major-release = "python utilities/version_bumper/main.py --bump major"
minor-release = "python utilities/version_bumper/main.py --bump minor"
patch-release = "python utilities/version_bumper/main.py --bump patch"
