[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==21.12b0"
pylint = "*"
pre-commit = "*"

[packages]
google-auth-oauthlib = "*"
requests = "*"
spidev = { version = "*", sys_platform = "== 'linux'" }
"rpi.gpio" = { version = "*", sys_platform = "== 'linux'" }
"jetson.gpio" = { version = "*", sys_platform = "== 'linux'" }

[requires]
python_version = "3.9"

[scripts]
major-release = "python utilities/version_bumper/main.py --bump major"
minor-release = "python utilities/version_bumper/main.py --bump minor"
patch-release = "python utilities/version_bumper/main.py --bump patch"
