---
name: Test & Scan

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
    inputs:
      branch:
        description: Branch to run tests on
        required: true
        default: main
  workflow_call:
    inputs:
      branch:
        type: string
        description: Branch to run tests on
        required: true
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - develop

env:
  LTS_PYTHON_VERSION: 3.11

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Unit Tests
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # I'm developing on macOS, so this should be covered
          # - macos-latest
        python-version:
          - '3.11'
          # - '3.12'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch || github.ref }}

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          cache: poetry
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: poetry install --all-extras --sync

      - name: Run Tests
        id: unit_tests
        run: poetry run pytest --cov=./ --cov-report=xml
        continue-on-error: true

      - name: Upload `coverage.xml` as Artifact
        if: matrix.python-version == env.LTS_PYTHON_VERSION
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: ./coverage.xml

      - name: Upload coverage to Codecov
        if: matrix.python-version == env.LTS_PYTHON_VERSION
        uses: codecov/codecov-action@v3
        with:
          flags: unittests
          fail_ci_if_error: true
          verbose: true
          file: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Check on UT failures
        if: steps.unit_tests.outcome != 'success'
        run: exit 1

  run-sonarcloud-scan:
    name: Run SonarCloud Scan
    needs: test
    uses: worgarside/github-config-files/.github/workflows/__sonarcloud.yml@main
    with:
      branch: ${{ inputs.branch || github.ref }}
      coverage-artifact: coverage-report
    secrets: inherit
